<div class="dx-fieldset">
  <div class="dx-field">
    <div class="dx-field-label">From Date Time</div>
    <div class="dx-field-value">
      <dx-date-box type="datetime" [(value)]="fromDate" (onValueChanged)="onValueChanged()"></dx-date-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">To Date Time</div>
    <div class="dx-field-value">
      <dx-date-box type="datetime" [(value)]="toDate" (onValueChanged)="onValueChanged()"></dx-date-box>
    </div>
  </div>
</div>